[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=OKboard
Icon=okboard
Exec=okboard-settings
X-Desktop-File-Install-Version=0.26

[X-Sailjail]
Sandboxing=Disabled
