[Desktop Entry]
Name=qtbtn-lap
Comment=qtbtn.py for qtbtn-lap.conf
Icon=icon-s-timer
Exec=/usr/local/bin/qtbtn.py --landscape /home/nemo/.config/qtbtn-lap.conf
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes

[X-Sailjail]
Sandboxing=Disabled
