[Desktop Entry]
Name=Open Camera
Comment=KILL cameraserver, STOP opencamera, and run net.sourceforce.opencamera/.MainActivity in aliendalvik
Icon=/usr/share/icons/aliendalvik/net.sourceforge.opencamera.png
Exec=/usr/local/bin/opencamera-wrapper
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes

[X-Sailjail]
Sandboxing=Disabled
