[Desktop Entry]
Name=qtscreen-daemon
Comment=start/stop screen-daemons
Icon=
Exec=invoker --type=generic sh -c 'PATH=/home/nemo/bin:$PATH qtscreen-daemon'
Type=Application
