[Desktop Entry]
Name=pen=>bab
Comment=LIRR train time
Icon=lirr_pen_bab
Exec=/opt/lirrtraintime/bin/lirr_train_time -b pen bab
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes

[X-Sailjail]
Sandboxing=Disabled
