[Unit]
Description=MMS engine service

[Service]
ExecStart=/usr/local/bin/mms-engine-wrapper
#ExecStart=/usr/bin/invoker --type=generic /usr/sbin/mms-engine -o syslog
