[Desktop Entry]
Name=qtbtn-klomp
Comment=qtbtn.py for qtbtn-klomp.conf
Icon=qtbtn-klomp
Exec=/usr/local/bin/qtbtn.py /home/nemo/.config/qtbtn-klomp.conf
Type=Application
X-Nemo-Single-Instance=no
