[Desktop Entry]
Name=retrofit barcode
Icon=retrofit-barcode
Exec=/usr/local/bin/launch-app retrofit-barcode
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes

[X-Sailjail]
Sandboxing=Disabled
