[Desktop Entry]
Name=isp=>gc
Comment=LIRR train time
Icon=lirr_isp_gc
Exec=/opt/lirrtraintime/bin/lirr_train_time -b isp gc
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes

[X-Sailjail]
Sandboxing=Disabled
