[Desktop Entry]
Name=qtemail
Icon=/opt/qtemail/icons/qtemail.png
Exec=python /opt/qtemail/bin/email-gui.py
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes
