[Desktop Entry]
Name=qtemail
Icon=/opt/qtemail/icons/qtemail.png
Exec=/usr/local/bin/launch-app email-gui.py
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes
