[Desktop Entry]
Name=qtscreen-daemon
Comment=start/stop screen-daemons
Icon=
Exec=/bin/sh -c 'PATH=/home/nemo/bin:$PATH qtscreen-daemon'
Type=Application
X-Nemo-Single-Instance=no
