[Desktop Entry]
Name=gc=>isp
Comment=LIRR train time
Icon=lirr_gc_isp
Exec=/opt/lirrtraintime/bin/lirr_train_time -b gc isp
Type=Application
X-Nemo-Single-Instance=no
Custom-Launcher=yes

[X-Sailjail]
Sandboxing=Disabled
